$blue-theme-bg : #2A3F6A;
$creme-theme-bg: #FFD799;
$font-color: #FDFAEA;
$brown-color: #8A642D;
$error-color : #dc3545;

$font-family-regular : roboto-condensed-regular;
$font-family-bold : roboto-condensed-bold;

$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;