@font-face {
    font-family: roboto-condensed-bold;
    src: url(./RobotoCondensed-Bold.ttf) format("truetype");
}

@font-face {
    font-family: roboto-condensed-regular;
    src: url(./RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: roboto-condensed-light;
    src: url(./RobotoCondensed-Light.ttf) format("truetype");
}