/* You can add global styles to this file, and also import other style files */
@import "./../variable.scss";
body{
    margin: 0px;
    background-color: $blue-theme-bg;
}

.sub-heading{
    font-size: $font-size-small;
    color: $brown-color;
    font-family: $font-family-regular;
}
li{
    list-style-type: none;
}